[Desktop Entry]
Type=Application
Name=AltTools
Comment=Process manager and system monitor (Process Hacker analog)
Exec=alttools
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
